@-moz-viewport { width: device-width; scale: 1; }
@-ms-viewport { width: device-width; scale: 1; }
@-o-viewport { width: device-width; scale: 1; }
@-webkit-viewport { width: device-width; scale: 1; }
@viewport { width: device-width; scale: 1; }
@-ms-viewport { width: device-width; scale: 1; }
@-o-viewport { width: device-width; scale: 1; }
@-webkit-viewport{ width: device-width; scale: 1; }
@viewport{ width: device-width; scale: 1; }


html {
    box-sizing: border-box;
    
    font: 'Open Sans', sans-serif;
    -moz-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    text-size-adjust: 100%;
}

*, *:before, *:after {
    box-sizing: inherit;
}

.img-flex {
    display: block;
    width: 100%;
    margin: 0 auto;
}

body {
    margin: 0;
    padding: 0;
    color: #414042;
}

a:hover {
    color: #D5E4D7;
}

a {
    color: #414042;
    text-decoration:underline;
    letter-spacing: 1px;
}




    

/*********************************** NAVIGATION ***********************************/

.navbar {
    background-color: white;
    margin-left: 2em;
    margin-right: 2em;
}

.current {
    border-bottom: 2px solid;
}


nav {
    width: 100%;
    text-align: center;
    margin: 0 auto;
    display: block;
    margin-bottom: 1em;
}
    
nav ul {
    margin: 0 auto;
    padding: 0;
    }
    
nav li {
    font-family: 'Open Sans', sans-serif; 
    list-style-type: none;
    display: inline-block;
    margin-left: 1em;
    margin-top: 1em;
    margin-right: 1em;
}
    
nav a:hover {
    color: #D5E4D7;
}

nav a {
    color: #414042;
    text-decoration: none;
    font-size: 0.75em;
    letter-spacing: 1px;
}

  
/*********************************** BANNER ***********************************/

.banner {
    background-color:#C3D1CA;
    overflow: hidden;
    min-height: 60vh;
    position: relative;
}

.info {
    font-family: 'Open Sans', sans-serif; 
    letter-spacing: 1px;
    text-align: center;
    margin-bottom: 0;
}


.skills {
    font-weight: 400;
    letter-spacing: 2px;
    margin-bottom: 0.2em;
}

.name {
    font-weight: lighter;
    letter-spacing: 2px;
    margin-top: 1em;
    margin-bottom: 0em;
}

.location {
    font-weight: lighter;
}

.me {
    z-index: 3;
    display: block;
    position: relative; 
}



.flowers {
    z-index: 3;
    display: block;
    position: relative;
}

    
.skills {
    text-transform: uppercase;
}



/*********************************** PORTFOLIO ***********************************/

.image100 {
    width: 100%;
}

.squarifier {
    padding-top: 100%;
}

.familiar-things {
    background-image: url(../images/familiar-things.png);
    background-size: cover;
}

.banana {
    background-image: url(../images/banana.gif);
    background-size: cover;
}

.misfits {
    background-image: url(../images/misfits.png);
    background-size: cover;
}

.arrow {
    background-image: url(../images/arrow.gif);
    background-size: cover;
}

.thegreatest {
    background-image: url(../images/thegreatest.png);
    background-size: cover;
}


.portrait {
    background-image: url(../images/portrait.png);
    background-size: cover;
}

.skull-flower {
    background-image: url(../images/skull-&-flowers.gif);
    background-size: cover;
}


.placeholder {
    background-image: url(../images/placeholder-01.png);
    background-size: cover;
}

.portfolio {
    margin-bottom: 4em;
}

.portfolio a {
    display: block;
}

/*********************************** PORTFOLIO PIECE: FAMILIAR THINGS ***********************************/

.portfolio-piece {
      
}

/*********************************** ABOUT & CONTACT ***********************************/

.f-doomsayers {
    background-image: url(../images/f-doomsayers.png);
    background-size: cover;
}

.dart {
    background-image: url(../images/dart.png);
    background-size: cover;
}

.mystic-hand {
    background-image: url(../images/mystic-hand.png);
    background-size: cover;
}

.find-the-light {
    background-image: url(../images/find-the-light.png);
    background-size: cover;
}


/*********************************** FOOTER ***********************************/

.footer {
    padding-left: 2.5em;
    padding-right: 2.5em;
    padding-bottom: 2.5em;
}

.socialcontainer {
    margin: 2em auto;
    text-align: center;
    max-width: 450px;
}

.fade {
	margin:0;
}
.fade {
    -webket-transition: all 0.5s ease-in-out;
	transition: all 0.3s ease-in-out;
}

.fade:hover {
	opacity: 0.5;
}

/*********************************** MEDIA QUERIES ***********************************/

@media only screen and (min-width: 15em) {
    
      .banner {
        margin-left: -1em;
        margin-right: -1em;
    }
        
    .portfolio {
        margin-left: -1em;
        margin-right: -1em;
        margin-bottom: -1em;
    }
    
    .portfolio-item {
         margin-top: -1em;
    }
    
    
    .me:hover {
        -ms-transform: translateY(-18px);
        -webkit-transform: translateY(-18px,); 
        transform: translateY(-18px);
        -ms-transition: all 0.5s ease;
        -webkit-transition: all 0.5s ease;
        transition: all 0.5s ease;
    }
    
    
    .socialcontainer {
        width: 100%;
    }
    
    .me {
        width: 80%;
        position: absolute;
        float: inherit;
        margin-left: 1.5em;
        margin-top: -3em;
    }
    
    .flowers {
        width: 120%;
        position: absolute;
        float: inherit;
        margin-left: -1em;
    }
    
    .name {
        margin-top: 4em;
        margin-bottom: 1em;
        font-size: 22px;
        line-height: 1em;
        letter-spacing: -0.2px;
    }
    
    .skills {
        font-size: 16px;
        letter-spacing: 0.5px;
        line-height: 1.5em;
        margin-bottom: 1em;
    }
    
    .location {
        font-size: 16px;
    }
}
    
@media only screen and (min-width: 22em) {
    
    .banner {
        margin-left: -1em;
        margin-right: -1em;
    }
        
    .portfolio {
        margin-left: -1em;
        margin-right: -1em;
        margin-bottom: -1em;
    }
    
    .portfolio-item {
         margin-top: -1em;
    }
    
     .me:hover {
        -ms-transform: translateY(-140px);
        -webkit-transform: translateY(-140px,); 
        transform: translateY(-140px);
        -ms-transition: all 0.5s ease;
        -webkit-transition: all 0.5s ease;
        transition: all 0.5s ease;
    }
    
    .me {
        width: 80%;
        position: absolute;
        float: inherit;
        margin-left: 3em;
        margin-top: -2.5em;
    }
    
    .flowers {
        width: 120%;
        position: absolute;
        float: inherit;
        margin-left: -2em;
        margin-top: -3em;
    }
    

    .name {
        margin-top: 7em;
        font-size: 24px;
    }
    
    .skills {
        margin-top: -0.5em;
        font-size: 16px;
        letter-spacing: -0.1px;
        
    }
    
    .location {
        font-size: 16px;
    }
    
    nav {
        text-align: right;
    }
}


@media only screen and (min-width: 25em) {
    
     .banner {
        margin-left: -1em;
        margin-right: -1em;
    }
        
    .portfolio {
        margin-left: -1em;
        margin-right: -1em;
        margin-bottom: -1em;
    }
    
    .portfolio-item {
         margin-top: -1em;
    }
    
     .me:hover {
        -ms-transform: translateY(-60px);
        -webkit-transform: translateY(-60px,); 
        transform: translateY(-60px);
        -ms-transition: all 0.5s ease;
        -webkit-transition: all 0.5s ease;
        transition: all 0.5s ease;
    }
    
    .me {
        width: 80%;
        position: absolute;
        float: inherit;
        margin-left: 2em;
        margin-top: -2.5em;
    }
    
    .flowers {
        width: 120%;
        position: absolute;
        float: inherit;
        margin-left: -2em;
        margin-top: -1em;
    }
    

    .name {
        margin-top: 6em;
        font-size: 24px;
    }
    
    .skills {
        margin-top: -0.5em;
        font-size: 12px;
        letter-spacing: -0.1px;
        
    }
    
    .location {
        font-size: 14px;
    }
    
    nav {
        text-align: right;
    }
}



@media only screen and (min-width: 38em) {
    
    .banner {
        margin-left: 0;
        margin-right: 0;
    }
        
    .portfolio {
        margin-left: 0;
        margin-right: 0;
    }
    
     .me:hover {
        -ms-transform: translateY(-100px);
        -webkit-transform: translateY(-100px,); 
        transform: translateY(-100px);
        -ms-transition: all 0.5s ease;
        -webkit-transition: all 0.5s ease;
        transition: all 0.5s ease;
    }
    
    .me {
        width: 60%;
        position: absolute;
        float: inherit;
        margin-top: -2em;
        margin-left: 6em;
    }
    
    .flowers {
        width: 100%;
        position: absolute;
        float: inherit;
        margin-left: 0;
        margin-top: -3em;
    }
        
    .name {
        margin-top: 7em;
        font-size: 24px;
    }
    
    .skills {
        font-size: 18px;
    }
    
    .location {
        font-size: 16px;
    }
    
}

@media only screen and (min-width: 48em) {
    
    .banner {
        margin-left: 0;
        margin-right: 0;
    }
        
    .portfolio {
        margin-left: 0;
        margin-right: 0;
    }
    
     .me:hover {
        -ms-transform: translateY(-150px);
        -webkit-transform: translateY(-150px,); 
        transform: translateY(-150px);
        -ms-transition: all 0.5s ease;
        -webkit-transition: all 0.5s ease;
        transition: all 0.5s ease;
    }
    
    .me {
        width: 60%;
        position: absolute;
        float: inherit;
        margin-top: -2em;
        margin-left: 9em;
    }
    
    .flowers {
        width: 100%;
        position: absolute;
        float: inherit;
        margin-left: 0;
        margin-top: -6em;
    }
        
    .name {
        margin-top: 7em;
        font-size: 24px;
    }
    
    .skills {
        font-size: 18px;
    }
    
    .location {
        font-size: 16px;
    }
    
}

@media only screen and (min-width: 57em) {
    
    .banner {
        margin-left: 0;
        margin-right: 0;
    }
        
    .portfolio {
        margin-left: 0;
        margin-right: 0;
    }
    
     .me:hover {
        -ms-transform: translateY(-150px);
        -webkit-transform: translateY(-150px,); 
        transform: translateY(-150px);
        -ms-transition: all 0.5s ease;
        -webkit-transition: all 0.5s ease;
        transition: all 0.5s ease;
    }
    
    .me {
        width: 60%;
        position: absolute;
        float: inherit;
        margin-top: -2em;
        margin-left: 9em;
    }
    
    .flowers {
        width: 100%;
        position: absolute;
        float: inherit;
        margin-left: 0;
        margin-top: -8em;
    }
        
    .name {
        margin-top: 7em;
        font-size: 24px;
    }
    
    .skills {
        font-size: 18px;
    }
    
    .location {
        font-size: 16px;
    }
    
}

@media only screen and (min-width: 60em) {
    
    .banner {
        margin-left: 0;
        margin-right: 0;
    }
        
    .portfolio {
        margin-left: 0;
        margin-right: 0;
    }
    
   .me:hover {
        -ms-transform: translateY(-350px);
        -webkit-transform: translateY(-350px,); 
        transform: translateY(-350px);
        -ms-transition: all 0.5s ease;
        -webkit-transition: all 0.5s ease;
        transition: all 0.5s ease;
    }
    
    .me {
        width: 75%;
        position: absolute;
        float: inherit;
        margin-left: 7em;
        margin-top: -5em;
    }
    
    .flowers {
        width: 80%;
        position: absolute;
        float: inherit;
        margin-left: 4em;
        margin-top: -6em;
    }
    
    .name {
        margin-top: 6em;
        font-size: 28px;
    }
    
    .skills {
        font-size: 20px;
        letter-spacing: -0.2px; 
    }
    
    .location {
        font-size: 18px;
    }
}
@media only screen and (min-width: 75em) {
    
    .banner {
        margin-left: 0;
        margin-right: 0;
    }
        
    .portfolio {
        margin-left: 0;
        margin-right: 0;
    }
    
   .me:hover {
        -ms-transform: translateY(-400px);
        -webkit-transform: translateY(-400px,); 
        transform: translateY(-400px);
        -ms-transition: all 0.5s ease;
        -webkit-transition: all 0.5s ease;
        transition: all 0.5s ease;
    }
    
    .me {
        width: 55%;
        position: absolute;
        float: inherit;
        margin-left: 15em;
        margin-top: -4em;
    }
    
    .flowers {
        width: 75%;
        position: absolute;
        float: inherit;
        margin-left: 8em;
        margin-top: -8em;
    }
    
    .name {
        margin-top: 6em;
        font-size: 28px;
    }
    
    .skills {
        font-size: 22px;
        letter-spacing: -0.2px; 
    }
    
    .location {
        font-size: 20px;
        letter-spacing: -0.2px;
    }
}



@media only screen and (min-width: 80em) {
    
    .banner {
        margin-left: 0;
        margin-right: 0;
    }
        
    .portfolio {
        margin-left: 0;
        margin-right: 0;
    }
    
   .me:hover {
        -ms-transform: translateY(-400px);
        -webkit-transform: translateY(-400px,); 
        transform: translateY(-400px);
        -ms-transition: all 0.5s ease;
        -webkit-transition: all 0.5s ease;
        transition: all 0.5s ease;
    }
    
    .me {
        width: 55%;
        position: absolute;
        float: inherit;
        margin-left: 16em;
        margin-top: -4em;
    }
    
    .flowers {
        width: 60%;
        position: absolute;
        float: inherit;
        margin-left: 13.5em;
        margin-top: -6em;
    }
    
    .name {
        margin-top: 6em;
        font-size: 28px;
    }
    
    .skills {
        font-size: 22px;
        letter-spacing: -0.2px; 
    }
    
    .location {
        font-size: 20px;
    }
}

@media only screen and (min-width: 87em) {
    
    .banner {
        margin-left: 0;
        margin-right: 0;
    }
        
    .portfolio {
        margin-left: 0;
        margin-right: 0;
    }
    
   .me:hover {
        -ms-transform: translateY(-400px);
        -webkit-transform: translateY(-400px,); 
        transform: translateY(-400px);
        -ms-transition: all 0.5s ease;
        -webkit-transition: all 0.5s ease;
        transition: all 0.5s ease;
    }
    
    .me {
        width: 55%;
        position: absolute;
        float: inherit;
        margin-left: 17.5em;
        margin-top: -4em;
    }
    
    .flowers {
        width: 60%;
        position: absolute;
        float: inherit;
        margin-left: 15em;
        margin-top: -7em;
    }
    
    .name {
        margin-top: 6em;
        font-size: 28px;
    }
    
    .skills {
        font-size: 22px;
        letter-spacing: -0.2px; 
    }
    
    .location {
        font-size: 20px;
    }
}


@media only screen and (min-width: 90em) {
    
    .banner {
        margin-left: 0;
        margin-right: 0;
    }
        
    .portfolio {
        margin-left: 0;
        margin-right: 0;
    }
    
    .me:hover {
        -ms-transform: translateY(-400px);
        -webkit-transform: translateY(-400px,); 
        transform: translateY(-400px);
        -ms-transition: all 0.5s ease;
        -webkit-transition: all 0.5s ease;
        transition: all 0.5s ease;
    }
    
    .me {
        width: 50%;
        position: absolute;
        float: inherit;
        margin-top: -4em;
        margin-bottom: auto;
        margin-left: 18em;
        margin-right: auto;
    }
    
    .flowers {
        width: 60%;
        position: absolute;
        float: inherit;
        margin-top: -8em;
        margin-bottom: auto;
        margin-left: 14em;
        margin-right: 1em;
    }
    
    .name {
        font-size: 28px;
        margin-top: 5em;
    }
    
     .skills {
        font-size: 20px;
         letter-spacing: -0.5px;
    }
    
    .location {
        font-size: 18px;
    }
    
  
}

