@-moz-viewport { width: device-width; scale: 1; }
@-ms-viewport { width: device-width; scale: 1; }
@-o-viewport { width: device-width; scale: 1; }
@-webkit-viewport { width: device-width; scale: 1; }
@viewport { width: device-width; scale: 1; }
@-ms-viewport { width: device-width; scale: 1; }
@-o-viewport { width: device-width; scale: 1; }
@-webkit-viewport{ width: device-width; scale: 1; }
@viewport{ width: device-width; scale: 1; }


html {
    box-sizing: border-box;
    
    font: 'Open Sans', sans-serif;
    -moz-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    text-size-adjust: 100%;
}

*, *:before, *:after {
    box-sizing: inherit;
}

.img-flex {
    display: block;
    width: 100%;
    margin: 0 auto;
}

body {
    margin: 0;
    padding: 0;
    color: #414042;
}

a:hover {
    color: #C3D1CB;
}

a {
    color: #414042;
    text-decoration:underline;
    letter-spacing: 1px;
}
    

/*********************************** NAVIGATION ***********************************/

.navbar {
    background-color: white;
    margin-left: 2em;
    margin-right: 2em;
}

.current {
    border-bottom: 2px solid;
}


nav {
    width: 100%;
    text-align: center;
    margin: 0 auto;
    display: block;
    margin-bottom: 1em;
}
    
nav ul {
    margin: 0 auto;
    padding: 0;
    }
    
nav li {
    font-family: 'Open Sans', sans-serif; 
    list-style-type: none;
    display: inline-block;
    margin-left: 1em;
    margin-top: 1em;
    margin-right: 1em;
}
    
nav a:hover {
    color: #C3D1CB;
}

nav a {
    color: #414042;
    text-decoration: none;
    font-size: 0.75em;
    letter-spacing: 1px;
}

.wordmark-stacked {
    position: absolute;
    top: 14px;
    left: 2%;
    width: 60px;
}

  
/*********************************** BANNER ***********************************/

.banner {
    overflow: visible;
    min-height: 25em;
    dispay: block;
}

/**@supports (min-height: 60vh)
    
    .banner {
        min-height: 60vh;
    }**/


.info {
    font-family: 'Open Sans', sans-serif; 
    letter-spacing: 1px;
    text-align: center;
    margin-bottom: 0;
}


.skills {
    font-weight: 400;
    letter-spacing: 2px;
    margin-bottom: 0.2em;
    font-weight: bolder;
}

.name {
    margin-top: -1em;
    font-weight: lighter;
    letter-spacing: 2px;
    line-height: 1em;
}

.location {
    font-weight: lighter;
}
    
.skills {
    text-transform: uppercase;
    font-weight: 400;

}

.divider {
    border-top: 2px solid;
    color: #414042;
    margin-left: 14em;
    margin-right: 14em;
}

/*********************************** CAROUSEL ***********************************/

.carousel {
    position: relative;
    margin-top: 26px;
    padding-bottom: 4em;
}

.carousel-inner {
    position: relative;
    overflow: hidden;
    width: 100%;
}

.carousel-open:checked + .carousel-item {
    position: static;
    opacity: 100;
}

.carousel-item {
    position: absolute;
    opacity: 0;
    -webkit-transition: opacity 0.6s ease-out;
    transition: opacity 0.6s ease-out;
}

.carousel-item img {
    display: block;
    height: auto;
    max-width: 100%;
}

.carousel-control {
    background: rgba(0, 0, 0, 0.28);
    border-radius: 50%;
    color: white;
    cursor: pointer;
    display: none;
    font-size: 40px;
    height: 40px;
    line-height: 35px;
    position: absolute;
    top: 50%;
    -webkit-transform: translate(0, -50%);
    cursor: pointer;
    -ms-transform: translate(0, -50%);
    transform: translate(0, -50%);
    text-align: center;
    width: 40px;
    z-index: 10;
}

.carousel-control.prev {
    left: 2%;
}

.carousel-control.next {
    right: 2%;
}

.carousel-control:hover {
    background: rgba(0, 0, 0, 0.2);
    color: white;
}

#carousel-1:checked ~ .control-1,
#carousel-2:checked ~ .control-2,
#carousel-3:checked ~ .control-3 {
    display: block;
}

.carousel-indicators {
    list-style: none;
    margin: 0;
    padding: 0;
    position: absolute;
    bottom: 2%;
    left: 0;
    right: 0;
    text-align: center;
    z-index: 10;
}

.carousel-indicators li {
    display: inline-block;
    margin: 0 5px;
}

.carousel-bullet {
    color: #fff;
    cursor: pointer;
    display: block;
    font-size: 35px;
}

.carousel-bullet:hover {
    color: #aaaaaa;
}

#carousel-1:checked ~ .control-1 ~ .carousel-indicators li:nth-child(1) .carousel-bullet,
#carousel-2:checked ~ .control-2 ~ .carousel-indicators li:nth-child(2) .carousel-bullet,
#carousel-3:checked ~ .control-3 ~ .carousel-indicators li:nth-child(3) .carousel-bullet {
    color: #C3D1CB;
}

#title {
    width: 100%;
    position: absolute;
    padding: 0px;
    margin: 0px auto;
    text-align: center;
    font-size: 27px;
    color: rgba(255, 255, 255, 1);
    font-family: 'Open Sans', sans-serif;
    z-index: 9999;
    text-shadow: 0px 1px 2px rgba(0, 0, 0, 0.33), -1px 0px 2px rgba(255, 255, 255, 0);
}

/*********************************** PORTFOLIO ***********************************/


.image100 {
    width: 100%;
}

.squarifier {
    padding-top: 100%;
}

.rectanglifier {
    padding-top: 50%;
}

.heartbeats {
    background-image: url(../images/heartbeats.gif);
    background-size: cover; 
}

.restaurant {
    background-image: url(../images/restaurant.png);
    background-size: cover; 
}

.familiar-things {
    background-image: url(../images/familiar-things.png);
    background-size: cover;
}

.banana {
    background-image: url(../images/banana.gif);
    background-size: cover;
}

.misfits {
    background-image: url(../images/misfits.png);
    background-size: cover;
}

.arrow {
    background-image: url(../images/arrow.gif);
    background-size: cover;
}

.the-greatest {
    background-image: url(../images/the-greatest.png);
    background-size: cover;
}


.portrait {
    background-image: url(../images/portrait.png);
    background-size: cover;
}

.skull-flower {
    background-image: url(../images/skull-&-flowers.gif);
    background-size: cover;
}


.placeholder {
    background-image: url(../images/placeholder-01.png);
    background-size: cover;
}

.portfolio {
    padding-bottom: 4em;
}

.portfolio a {
    display: block;
}


/*********************************** VIDEO ***********************************/

.embed-item {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}

.embed {
    position: relative;
    overflow: hidden;
    width: 100%;
}

.embed-16by9 {
    padding-top: 56.25%;
}

/*********************************** PORTFOLIO PIECE: FAMILIAR THINGS ***********************************/



/*********************************** PORTFOLIO PIECE: THE RESTAURANT AT THE END OF THE UNIVERSE ***********************************/

/*********************************** PORTFOLIO PIECE: SPRING HEARTBEATS ***********************************/

/*********************************** PORTFOLIO PIECE: MISFITS ***********************************/

.misfits-front {
    background-image: url(../images/misfits-front.png);
    background-size: cover;   
}

.misfits-back {
    background-image: url(../images/misfits-back.png);
    background-size: cover;  
}

.misfits-front {
    margin-top: -4em;
}

.misfits-back {
    margin-top: -4em;
}

.front-back {
    text-align: center;
}


/*********************************** ABOUT & CONTACT ***********************************/

.f-doomsayers {
    background-image: url(../images/f-doomsayers.png);
    background-size: cover;
}

.dart {
    background-image: url(../images/dart.png);
    background-size: cover;
}

.mystic-hand {
    background-image: url(../images/mystic-hand.png);
    background-size: cover;
}

.find-the-light {
    background-image: url(../images/find-the-light.png);
    background-size: cover;
}

.bannerpic {
    padding-bottom: 2em;
}

ul {
    list-style-type: bullet;
}

li {
    margin-left: -1em;
}

.tech {
    margin-bottom: 0.5em;
    margin-top: -2em;
}

.abilities {
    margin-bottom: 0.5em;
    margin-top: -2em;
}

.about {
    margin-bottom: -2em;
}




/*********************************** FOOTER ***********************************/

.footer {
    padding-left: 2.5em;
    padding-right: 2.5em;
    padding-bottom: 2.5em;
}

.socialcontainer {
    margin: 2em auto;
    text-align: center;
    max-width: 450px;
}

.fade {
	margin:0;
}

.fade {
    -webket-transition: all 0.5s ease-in-out;
	transition: all 0.3s ease-in-out;
}

.fade:hover {
	opacity: 0.5;
}

.text-center {
    text-align: center;
}

.letstalk {
    padding-top: 2em;
}

.email {
    padding-bottom: 1em;
    font-weight: lighter;
}

/*********************************** MEDIA QUERIES ***********************************/

@media only screen and (min-width: 20em) {
    
    .wordmark-stacked {
    position: absolute;
    top: -60px;
    }

    .banner {
        margin-left: -1em;
        margin-right: -1em;
     }
        
    .portfolio {
        margin-left: -1em;
        margin-right: -1em;
        margin-bottom: 1em;
    }
    
    .portfolio-item {
         margin-top: -1em;
    }
    
    .socialcontainer {
        width: 100%;
    }
    
    .wordmark {
        margin-top: -1em;
       
    }
    
    .skills {
        margin-bottom: 1em;

    }
    
}
    

@media only screen and (min-width: 25em) {
    
    .wordmark-stacked {
    position: absolute;
    top: -60px;
    }
    
     .banner {
        margin-left: -1em;
        margin-right: -1em;
    }
        
    .portfolio {
        margin-left: -1em;
        margin-right: -1em;
        margin-bottom: -1em;
    }
    
    .portfolio-item {
         margin-top: -1em;
    }
    
    nav {
        text-align: right;
    }
    
    .wordmark {
        
    }

}



@media only screen and (min-width: 38em) {
    
    .wordmark-stacked {
        position: absolute;
        top: 14px;
        left: 2%;
        width: 60px;
    }

    
    .banner {
        margin-left: 0;
        margin-right: 0;
    }
        
    .portfolio {
        margin-left: 0;
        margin-right: 0;
    }
    
    .flowers {
        max-width: 95%;
        object-position: center;
    }
    
    .wordmark {
        margin-top: -3.5em;
        width: 24em;
    }
    
    .location {
        margin-bottom: 4em;
    }

}

@media only screen and (min-width: 60em) {
    
    
    .wordmark-stacked {
        position: absolute;
        top: 14px;
        left: 2%;
        width: 60px;
    }
    
    .banner {
        margin-left: 0;
        margin-right: 0;
    }
        
    .portfolio {
        margin-left: 0;
        margin-right: 0;
    }
    
    .flowers {
        max-width: 70%;
    }
    
    .name {
        font-size: 32px;
        margin-bottom: 0.8em;
        margin-top: -2em;
    }
    
}


@media only screen and (min-width: 80em) {
    
    .wordmark-stacked {
        position: absolute;
        top: 14px;
        left: 2%;
        width: 60px;
    }
    
    .banner {
        margin-left: 0;
        margin-right: 0;
    }
        
    .portfolio {
        margin-left: 0;
        margin-right: 0;
    }
    
    .flowers {
        max-width: 60%;
    }
    
    .name {
        margin-top: -2em;
    }


}

@media only screen and (min-width: 90em) {
    
    .wordmark-stacked {
        position: absolute;
        top: 14px;
        left: 2%;
        width: 60px;
    }
    
    .banner {
        margin-left: 0;
        margin-right: 0;
    }
        
    .portfolio {
        margin-left: 0;
        margin-right: 0;
    }
    
    .flowers {
        max-width: 60%;
    }
    
    .name {
        margin-top: -3em;
    }
    

}

