@-moz-viewport { width: device-width; scale: 1; }
@-ms-viewport { width: device-width; scale: 1; }
@-o-viewport { width: device-width; scale: 1; }
@-webkit-viewport { width: device-width; scale: 1; }
@viewport { width: device-width; scale: 1; }
@-ms-viewport { width: device-width; scale: 1; }
@-o-viewport { width: device-width; scale: 1; }
@-webkit-viewport{ width: device-width; scale: 1; }
@viewport{ width: device-width; scale: 1; }


html {
    box-sizing: border-box;
    
    font: 'Open Sans', sans-serif;
    -moz-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    text-size-adjust: 100%;
}

*, *:before, *:after {
    box-sizing: inherit;
}

.img-flex {
    display: block;
    width: 100%;
    margin: 0 auto;
}

body {
    margin: 0;
    padding: 0;
    color: #414042;
}

a:hover {
    color: #C3D1CB;
}

a {
    color: #414042;
    text-decoration:underline;
    letter-spacing: 1px;
}
    

/*********************************** NAVIGATION ***********************************/

.navbar {
    background-color: white;
    margin-left: 2em;
    margin-right: 2em;
}

.current {
    border-bottom: 2px solid;
}


nav {
    width: 100%;
    text-align: center;
    margin: 0 auto;
    display: block;
    margin-bottom: 1em;
}
    
nav ul {
    margin: 0 auto;
    padding: 0;
    }
    
nav li {
    font-family: 'Open Sans', sans-serif; 
    list-style-type: none;
    display: inline-block;
    margin-left: 1em;
    margin-top: 1em;
    margin-right: 1em;
}
    
nav a:hover {
    color: #C3D1CB;
}

nav a {
    color: #414042;
    text-decoration: none;
    font-size: 0.75em;
    letter-spacing: 1px;
}

  
/*********************************** BANNER ***********************************/

.banner {
    overflow: visible;
    min-height: 25em;
    dispay: block;
}

/**@supports (min-height: 60vh)
    
    .banner {
        min-height: 60vh;
    }**/


.info {
    font-family: 'Open Sans', sans-serif; 
    letter-spacing: 1px;
    text-align: center;
    margin-bottom: 0;
}


.skills {
    font-weight: 400;
    letter-spacing: 2px;
    margin-bottom: 0.2em;
    font-weight: bolder;
}

.name {
    margin-top: -1em;
    font-weight: lighter;
    letter-spacing: 2px;
    line-height: 1em;
}

.location {
    font-weight: lighter;
}
    
.skills {
    text-transform: uppercase;

}

.divider {
    border-top: 2px solid;
    color: #414042;
    margin-left: 4em;
    margin-right: 4em;
}


/*********************************** PORTFOLIO ***********************************/

.image100 {
    width: 100%;
}

.squarifier {
    padding-top: 100%;
}

.familiar-things {
    background-image: url(../images/familiar-things.png);
    background-size: cover;
}

.banana {
    background-image: url(../images/banana.gif);
    background-size: cover;
}

.misfits {
    background-image: url(../images/misfits.png);
    background-size: cover;
}

.arrow {
    background-image: url(../images/arrow.gif);
    background-size: cover;
}

.thegreatest {
    background-image: url(../images/thegreatest.png);
    background-size: cover;
}


.portrait {
    background-image: url(../images/portrait.png);
    background-size: cover;
}

.skull-flower {
    background-image: url(../images/skull-&-flowers.gif);
    background-size: cover;
}


.placeholder {
    background-image: url(../images/placeholder-01.png);
    background-size: cover;
}

.portfolio {
    padding-bottom: 4em;
}

.portfolio a {
    display: block;
}


/*********************************** PORTFOLIO PIECE: FAMILIAR THINGS ***********************************/

.portfolio-piece {
      
}

/*********************************** ABOUT & CONTACT ***********************************/

.f-doomsayers {
    background-image: url(../images/f-doomsayers.png);
    background-size: cover;
}

.dart {
    background-image: url(../images/dart.png);
    background-size: cover;
}

.mystic-hand {
    background-image: url(../images/mystic-hand.png);
    background-size: cover;
}

.find-the-light {
    background-image: url(../images/find-the-light.png);
    background-size: cover;
}

.bannerpic {
    padding-bottom: 2em;
}

ul {
    list-style-type: none;
}

li {
    margin-left:-2.5em;
}


/*********************************** FOOTER ***********************************/

.footer {
    padding-left: 2.5em;
    padding-right: 2.5em;
    padding-bottom: 2.5em;
}

.socialcontainer {
    margin: 2em auto;
    text-align: center;
    max-width: 450px;
}

.fade {
	margin:0;
}

.fade {
    -webket-transition: all 0.5s ease-in-out;
	transition: all 0.3s ease-in-out;
}

.fade:hover {
	opacity: 0.5;
}

.text-center {
    text-align: center;
}

.letstalk {
    padding-top: 2em;
}

.email {
    padding-bottom: 1em;
    font-weight: lighter;
}

/*********************************** MEDIA QUERIES ***********************************/

@media only screen and (min-width: 20em) {
    
    .banner {
        margin-left: -1em;
        margin-right: -1em;
    }
        
    .portfolio {
        margin-left: -1em;
        margin-right: -1em;
        margin-bottom: 1em;
    }
    
    .portfolio-item {
         margin-top: -1em;
    }
    
    .me:hover {
        -ms-transform: translateY(-18px);
        -webkit-transform: translateY(-18px,); 
        transform: translateY(-18px);
        -ms-transition: all 0.5s ease;
        -webkit-transition: all 0.5s ease;
        transition: all 0.5s ease;
    }
    
    .socialcontainer {
        width: 100%;
    }
    
    .name {
        margin-bottom: 1em;
        margin-top: -0.5em;
       
    }
    
    .skills {
        margin-bottom: 1em;

    }
    
}
    

@media only screen and (min-width: 25em) {
    
     .banner {
        margin-left: -1em;
        margin-right: -1em;
    }
        
    .portfolio {
        margin-left: -1em;
        margin-right: -1em;
        margin-bottom: -1em;
    }
    
    .portfolio-item {
         margin-top: -1em;
    }
    
     .me:hover {
        -ms-transform: translateY(-60px);
        -webkit-transform: translateY(-60px,); 
        transform: translateY(-60px);
        -ms-transition: all 0.5s ease;
        -webkit-transition: all 0.5s ease;
        transition: all 0.5s ease;
    }
    
    nav {
        text-align: right;
    }
    

    
    
}



@media only screen and (min-width: 38em) {
    
    .banner {
        margin-left: 0;
        margin-right: 0;
    }
        
    .portfolio {
        margin-left: 0;
        margin-right: 0;
    }
    
     .me:hover {
        -ms-transform: translateY(-100px);
        -webkit-transform: translateY(-100px,); 
        transform: translateY(-100px);
        -ms-transition: all 0.5s ease;
        -webkit-transition: all 0.5s ease;
        transition: all 0.5s ease;
    }
    
    .flowers {
        max-width: 95%;
        object-position: center;
    }
    
    .name {
        margin-top: -1.5em;
    }
    
    .location {
        margin-bottom: 4em;
    }

}

@media only screen and (min-width: 60em) {
    
    .banner {
        margin-left: 0;
        margin-right: 0;
    }
        
    .portfolio {
        margin-left: 0;
        margin-right: 0;
    }
    
   .me:hover {
        -ms-transform: translateY(-350px);
        -webkit-transform: translateY(-350px,); 
        transform: translateY(-350px);
        -ms-transition: all 0.5s ease;
        -webkit-transition: all 0.5s ease;
        transition: all 0.5s ease;
    }
    
    .flowers {
        max-width: 70%;
    }
    
    .name {
        font-size: 32px;
        margin-bottom: 0.8em;
        margin-top: -2em;
    }
    
}


@media only screen and (min-width: 80em) {
    
    .banner {
        margin-left: 0;
        margin-right: 0;
    }
        
    .portfolio {
        margin-left: 0;
        margin-right: 0;
    }
    
   .me:hover {
        -ms-transform: translateY(-400px);
        -webkit-transform: translateY(-400px,); 
        transform: translateY(-400px);
        -ms-transition: all 0.5s ease;
        -webkit-transition: all 0.5s ease;
        transition: all 0.5s ease;
    }
    
    .flowers {
        max-width: 60%;
    }
    
    .name {
        margin-top: -2em;
    }

}

@media only screen and (min-width: 90em) {
    
    .banner {
        margin-left: 0;
        margin-right: 0;
    }
        
    .portfolio {
        margin-left: 0;
        margin-right: 0;
    }
    
    .me:hover {
        -ms-transform: translateY(-400px);
        -webkit-transform: translateY(-400px,); 
        transform: translateY(-400px);
        -ms-transition: all 0.5s ease;
        -webkit-transition: all 0.5s ease;
        transition: all 0.5s ease;
    }
    
    .flowers {
        max-width: 60%;
    }
    
    .name {
        margin-top: -3em;
    }
    

}

