<div class="nav-wrapper" role="navigation">
    <a href="{{site.baseurl}}/"><img class="lettermark fade" src="{{site.baseurl}}/images/lettermark.png" alt="Anna Trojanowska Lettermark"></a>
    <nav role="navigation">
        <ul>
            <li class="nav-link"><a href="{{site.baseurl}}/" class="{% if page.url == '/' %}current{% endif %}">PORTFOLIO</a></li>
            <li class="nav-link"><a href="{{site.baseurl}}/about-contact" class="{% if page.url == '/about-contact/' %}current{% endif %}">ABOUT & CONTACT</a></li>
        </ul>
    </nav>
</div>