<!DOCTYPE html>
<html lang="en-ca">
<head>
    <meta charset="utf-8">
    <title>Anna Trojanowska Portfolio Website</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="{{site.baseurl}}/css/grid.css" rel="stylesheet">
    <link href="{{site.baseurl}}/css/type.css" rel="stylesheet">
    <link href="{{site.baseurl}}/css/main.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Slabo+27px" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400italic,400,300,700" rel='stylesheet' type='text/css'>
    <link href="{{site.baseurl}}/images/favicon.png" rel="shortcut icon">
    
    <meta name="viewport" content="width=device-width,initial-scale=1">
</head>

<body>
    <main role="main">

    {% include nav.html %}
    
    {{content}}
    
    <hr class="divider">
    
    <div class="footer" role="contentinfo">
        <h3 class="letstalk text-center">Let's talk!</h3>
        <h6 class="text-center email"><a href="mailto:holla@annatrojanowska.ca?Subject:Yo!" class="email">holla@annatrojanowska.ca</a></h6>
        <div class="grid socialcontainer">
             <div class="social unit unit-xs-1-5 unit-s-1-5 unit-m-1-5 unit-l-1-5">
                <a href="https://www.facebook.com/anna.trojanowska.5" target="_blank"><img class="fade" src="{{site.baseurl}}/images/fb.png" alt="Facebook Link"></a>
            </div>
            <div class="social unit unit-xs-1-5 unit-s-1-5 unit-m-1-5 unit-l-1-5">
                <a href="https://ca.linkedin.com/pub/anna-trojanowska/92/513/376" target="_blank"><img class="fade" src="{{site.baseurl}}/images/in-01.png" alt="LinkedIn Link"></a>
            </div>
            <div class="social unit unit-xs-1-5 unit-s-1-5 unit-m-1-5 unit-l-1-5">
                <a href="https://instagram.com/pannatrojanowska/" target="_blank"><img class="fade" src="{{site.baseurl}}/images/insta-01.png" alt="Instagram Link"></a>
            </div>
            <div class="social unit unit-xs-1-5 unit-s-1-5 unit-m-1-5 unit-l-1-5">
                <a href="https://vimeo.com/pannatrojanowska" target="_blank"><img class="fade" src="{{site.baseurl}}/images/vimeo-01.png" alt="Twitter Link"></a>
            </div>
            <div class="social unit unit-xs-1-5 unit-s-1-5 unit-m-1-5 unit-l-1-5">
                <a href="https://www.behance.net/annatrojanowska" target="_blank"><img class="fade" src="{{site.baseurl}}/images/be-01.png" alt="Behance Link"></a>
            </div>
        </div>
        
        <!--<div>
            <img class="flowers-small img-flex" src="{{site.baseurl}}/images/flowers-small.png" alt="small flowers in footer">
        </div>-->
    </div>
    
        <div class="">
            <p class="push-0 island-1-2">© Anna Trojanowska</p>
        </div>
    
    
                                                        
    <script scr="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.0.0-alpha1/jquery.min.js"</script>
    <script src=" js/main.js"></script>
        
        </main>
</body>
</html>